<ion-header>
  <ion-toolbar>
    <ion-title>second</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-button (click)='lanceNotification()'>
      start notification
    </ion-button>
    <ion-button expand="block" routerLink="/home" routerDirection="root">
      home
    </ion-button>
    </div>
</ion-content>
