<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <ion-button (click)='lanceNotification()'>
    start notification
  </ion-button>
  <ion-button expand="block" routerLink="/second" routerDirection="root">
    second
  </ion-button>
  </div>
</ion-content>
